body {
    width: 1000px;
}

article {
    width: 450px;
    height: 300px;
    margin: 30px;
}

ul {
    list-style: none;
    display: flex;
}

img {
    width: 450px;
    height: 300px;
}

article {
    position: relative;
    cursor: pointer;
    display: inline-block;
}

.info {
    display: none;
    position: absolute;
    padding: 10px;
    font-size: 16px;
    line-height: 1.6em;
    color: #fff;
    border-radius: 5px;
    background: #000;
    width: 200px;
    height: 200px;
}

article:hover .info {
    display: inline-block;
    left: -50px;
}