body {
    width: 100vw;
}

header {
    background-color: rgb(168, 171, 172);
}

img {
    width: 300px;
    height: 250px;
    margin: 20px;
}

.item {
    position: relative;
    cursor: pointer;
    display: inline-block;
    
}

.content {
    display: flex;
    flex-wrap: wrap;
}

.info {
    display: none;
    position: absolute;
    padding: 10px;
    font-size: 16px;
    line-height: 1.6em;
    color: #fff;
    border-radius: 5px;
    background: #000;
    width: 200px;
    height: 200px;
}

.item:hover .info {
    display: inline-block;
    left: -10px;
}

